In [ ]:
Curry = pd.read_excel("Stephen_Curry.xlsx")
Lillard = pd.read_excel("Damian_Lillard.xlsx")
Mitchell = pd.read_excel("Donovan_Mitchell.xlsx")
Paul = pd.read_excel("Chris_Paul.xlsx")
Fox = pd.read_excel("DeAaron_Fox.xlsx")

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = [Curry, Lillard, Mitchell, Paul, Fox]

In [ ]:
for i in data:
    i.drop(['Rk', 'G', 'Unnamed: 5','MP', 'GmSc'], axis=1, inplace=True)
    i=i.rename(columns={"Unnamed: 7": "Win_Loss","+/-":"Plus_Minus","Tm":"Team_ID",'GS':'GP','Date':'Date_ID','3P%':'3P_Percent', 'FG%':'FG_Percent','FT%':'FT_Percent'}, inplace=True)

In [ ]:
for i in data:
    i['Postseason'] = i['Postseason'].astype(str)
    i['GP'] = i['GP'].astype(str)
    i['GP'] = i['GP'].replace('1','Played')
    i['GP'] = i['GP'].replace('0','Played')
    i['Postseason'] = i['Postseason'].replace('nan','NP')

In [ ]:
for i in data:
    i['Win_Loss'] = i['Win_Loss'].astype(str)
    i[['Win_Loss','Differential']] = i['Win_Loss'].str.split('(',expand=True)
    i['Win_Loss'] = i['Win_Loss'].map(lambda x: x.strip('('))
    i['Differential'] = i['Differential'].map(lambda x: x.strip(')'))
    i['Differential'] = i['Differential'].map(lambda x: x.strip('+'))
    a = 'Differential'
    temp_col = i.pop(a)
    i.insert(5, a, temp_col)
    i['Differential'] = i['Differential'].astype(int)

In [ ]:
for i in data:
    i['Win_Loss'] = i['Win_Loss'].replace({'W ':'1','L ':'0'})
    i['Win_Loss'] = i['Win_Loss'].astype(int)

In [ ]:
Curry = Curry.fillna(0,axis = 0)
Lillard = Lillard.fillna(0,axis = 0)
Mitchell = Mitchell.fillna(0,axis = 0)
Paul = Paul.fillna(0,axis = 0)
Fox = Fox.fillna(0,axis = 0)

In [ ]:
Curry.insert(0, 'Player_ID', 'SC_30')
Lillard.insert(0, 'Player_ID', 'DL_0')
Mitchell.insert(0, 'Player_ID', 'DM_45')
Paul.insert(0, 'Player_ID', 'CP_3')
Fox.insert(0, 'Player_ID', 'DF_5')

In [ ]:
Curry.insert(1, 'Coach_ID', 'S_Kerr')
Lillard.insert(1, 'Coach_ID', 'T_Stotts')
Mitchell.insert(1, 'Coach_ID', 'Q_Snyder')
Paul.insert(1, 'Coach_ID', 'default')
Fox.insert(1, 'Coach_ID', 'default')

In [ ]:
Paul.loc[Paul.Team_ID == 'HOU', 'Coach_ID'] = "M_D'Antoni"
Paul.loc[Paul.Team_ID == 'OKC', 'Coach_ID'] = "B_Donovan"
Paul.loc[Paul.Team_ID == 'PHO', 'Coach_ID'] = "M_Williams"

In [ ]:
Walton_start_date = '2019-04-14'

Fox.loc[Fox.Date_ID >= Walton_start_date, 'Coach_ID'] = "L_Walton"
Fox.loc[Fox.Date_ID < Walton_start_date, 'Coach_ID'] = "D_Joerger"

### Dataframes Concatenated

In [ ]:
new = pd.concat([Curry,Lillard,Mitchell,Paul,Fox])

In [ ]:
new.head()

,Player_ID,Coach_ID,Date_ID,Age,Team_ID,Opp,Win_Loss,Differential,GP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Plus_Minus,Postseason
0,SC_30,S_Kerr,2017-10-17,29-217,GSW,HOU,0,-1,Played,8.0,...,5.0,5.0,4.0,1.0,0.0,2.0,4.0,22.0,9.0,NP
1,SC_30,S_Kerr,2017-10-20,29-220,GSW,NOP,1,8,Played,7.0,...,3.0,3.0,8.0,0.0,0.0,1.0,1.0,28.0,7.0,NP
2,SC_30,S_Kerr,2017-10-21,29-221,GSW,MEM,0,-10,Played,9.0,...,6.0,6.0,3.0,0.0,0.0,2.0,5.0,37.0,-6.0,NP
3,SC_30,S_Kerr,2017-10-23,29-223,GSW,DAL,1,30,Played,7.0,...,0.0,2.0,8.0,4.0,0.0,6.0,1.0,29.0,22.0,NP
4,SC_30,S_Kerr,2017-10-25,29-225,GSW,TOR,1,5,Played,9.0,...,4.0,4.0,5.0,3.0,1.0,2.0,2.0,30.0,14.0,NP

In [ ]:
new['Opp'].unique()

array(['HOU', 'NOP', 'MEM', 'DAL', 'TOR', 'WAS', 'DET', 'LAC', 'SAS',
       'DEN', 'MIA', 'MIN', 'PHI', 'ORL', 'BOS', 'BRK', 'OKC', 'CHI',
       'SAC', 'LAL', 'CHO', 'POR', 'CLE', 'UTA', 'MIL', 'NYK', 'PHO',
       'ATL', 'IND', 'GSW'], dtype=object)

### Coach Dimension

In [ ]:
coach_array=new['Coach_ID'].unique()
print(coach_array)

['S_Kerr' 'T_Stotts' 'Q_Snyder' "M_D'Antoni" 'B_Donovan' 'M_Williams'
 'D_Joerger' 'L_Walton']

In [ ]:
name_array = ['Steve Kerr', 'Terry Stotts','Quin Snyder',"Mike D'Antoni", 'Billy Donovan','Monty Williams','Dave Joerger','Luke Walton']

age_array = [55,63,54,69,55,49,47,40]

race_array = ['White','White','White','White','White','Black','White','White']

years_experience_array = [8,10,8,17,7,9,7,6]

played_array = [1,1,1,1,1,1,0,1]

coty_array = [1,0,0,1,0,0,0,0]

cand_array = [1,0,1,1,1,1,0,0]

college_array = ['Arizona','Oklahoma','Duke','Marshall','Providence','Notre Dame','Minnesota State-Moorhead','Arizona']

In [ ]:
cols =['Coach_ID','Name','Age','Race', 'Years_Experience', 'Played_in_NBA','Won_COTY','COTY_Candidate','College']

Coach_Dimension = pd.DataFrame(columns = cols)

In [ ]:
Coach_Dimension['Coach_ID'] = coach_array
Coach_Dimension['Name'] = name_array
Coach_Dimension['Age'] = age_array
Coach_Dimension['Race'] = race_array
Coach_Dimension['Years_Experience'] = years_experience_array 
Coach_Dimension['Played_in_NBA'] = played_array
Coach_Dimension['Won_COTY'] = coty_array
Coach_Dimension['COTY_Candidate'] = cand_array
Coach_Dimension['College'] = college_array

In [ ]:
Coach_Dimension.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
Coach_ID            8 non-null object
Name                8 non-null object
Age                 8 non-null int64
Race                8 non-null object
Years_Experience    8 non-null int64
Played_in_NBA       8 non-null int64
Won_COTY            8 non-null int64
COTY_Candidate      8 non-null int64
College             8 non-null object
dtypes: int64(5), object(4)
memory usage: 656.0+ bytes

In [ ]:
Coach_Dimension['Played_in_NBA'] = Coach_Dimension['Played_in_NBA'].astype(str)
Coach_Dimension['Won_COTY'] = Coach_Dimension['Won_COTY'].astype(str)
Coach_Dimension['COTY_Candidate'] = Coach_Dimension['COTY_Candidate'].astype(str)

In [ ]:
Coach_Dimension['Played_in_NBA'] = Coach_Dimension['Played_in_NBA'].replace({'0':'No','1':'Yes'})
Coach_Dimension['Won_COTY'] = Coach_Dimension['Won_COTY'].replace({'0':'No','1':'Yes'})
Coach_Dimension['COTY_Candidate'] = Coach_Dimension['COTY_Candidate'].replace({'0':'No','1':'Yes'})

In [ ]:
Coach_Dimension.head()
#Coach_Dimension.to_excel('Coach_Data.xlsx')

,Coach_ID,Name,Age,Race,Years_Experience,Played_in_NBA,Won_COTY,COTY_Candidate,College
0,S_Kerr,Steve Kerr,55,White,8,Yes,Yes,Yes,Arizona
1,T_Stotts,Terry Stotts,63,White,10,Yes,No,No,Oklahoma
2,Q_Snyder,Quin Snyder,54,White,8,Yes,No,Yes,Duke
3,M_D'Antoni,Mike D'Antoni,69,White,17,Yes,Yes,Yes,Marshall
4,B_Donovan,Billy Donovan,55,White,7,Yes,No,Yes,Providence

In [ ]:
#To SQL Table

sql_1 = "CREATE TABLE Coach_Dimension(Coach_ID varchar(250), Name varchar(250), Age int(3), Race varchar(250), Years_Experience int(3), Played_in_NBA varchar(20), Won_COTY varchar(20), COTY_Candidate varchar(20), College varchar(250));"           
cursor.execute(sql_1)
connection.commit()


#DataFrame to SQL Table - append row by row 

column_list = "`,`".join([str(i) for i in Coach_Dimension.columns.tolist()])

for i,row in Coach_Dimension.iterrows():
    sql_2 = "INSERT INTO Coach_Dimension (`" +column_list + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql_2, tuple(row))
    connection.commit()

### Team Dimension

In [ ]:
cols =['Team_ID','Name','City','State', 'Arena_Name', 'Owner','Won_Championship','Reached_Finals']

Team_Dimension = pd.DataFrame(columns = cols)

In [ ]:
team_array=new['Team_ID'].unique()
tname_array =['Golden State Warriors','Portland Trail Blazers','Utah Jazz','Houston Rockets','Oklahoma City Thunder','Phoenix Suns','Sacramento Kings'] 
city_array =['Oakland','Portland','Salt Lake City','Houston','Oklahoma City','Phoenix','Sacramento'] 
state_array =['California','Oregon','Utah','Texas','Oklahoma','Arizona','California']
arena_array = ['Chase Center','Moda Center','Vivint Arena','Toyota Center','Chesapeake Energy Arena','Phoenix Suns Arena','Golden 1 Center']
owner_array = ['Joseph Lacob','Paul Allen','Ryan Smith', 'Tilman Fertitta','Clay Bennett','Robert Sarver','Vivek RanadivÃ©']
won_chip_array = ['Yes','Yes','No','Yes','No','No','Yes']
finals_array = ['Yes','Yes','Yes','Yes','Yes','Yes','Yes']

In [ ]:
Team_Dimension['Team_ID'] = team_array
Team_Dimension['Name'] = tname_array
Team_Dimension['City'] = city_array
Team_Dimension['State'] = state_array
Team_Dimension['Arena_Name'] = arena_array 
Team_Dimension['Owner'] = owner_array
Team_Dimension['Won_Championship'] = won_chip_array
Team_Dimension['Reached_Finals'] = finals_array

In [ ]:
Team_Dimension.head(7)

,Team_ID,Name,City,State,Arena_Name,Owner,Won_Championship,Reached_Finals
0,GSW,Golden State Warriors,Oakland,California,Chase Center,Joseph Lacob,Yes,Yes
1,POR,Portland Trail Blazers,Portland,Oregon,Moda Center,Paul Allen,Yes,Yes
2,UTA,Utah Jazz,Salt Lake City,Utah,Vivint Arena,Ryan Smith,No,Yes
3,HOU,Houston Rockets,Houston,Texas,Toyota Center,Tilman Fertitta,Yes,Yes
4,OKC,Oklahoma City Thunder,Oklahoma City,Oklahoma,Chesapeake Energy Arena,Clay Bennett,No,Yes
5,PHO,Phoenix Suns,Phoenix,Arizona,Phoenix Suns Arena,Robert Sarver,No,Yes
6,SAC,Sacramento Kings,Sacramento,California,Golden 1 Center,Vivek RanadivÃ©,Yes,Yes

In [ ]:
#To SQL Table

sql_1 = "CREATE TABLE Team_Dimension(Team_ID varchar(250), Name varchar(250), City varchar(250), State varchar(250), Arena_Name varchar(250), Owner varchar(250), Won_Championship varchar(250), Reached_Finals varchar(250));"           
cursor.execute(sql_1)
connection.commit()


# DataFrame to SQL Table - append row by row 

column_list = "`,`".join([str(i) for i in Team_Dimension.columns.tolist()])

for i,row in Team_Dimension.iterrows():
    sql_2 = "INSERT INTO Team_Dimension (`" +column_list + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql_2, tuple(row))
    connection.commit()

### Date Dimension

In [ ]:
import datetime

In [ ]:
cols = ['Date_ID','Month','Year']

Date_Dimension = pd.DataFrame(columns = cols)

In [ ]:
date_array=new['Date_ID'].unique()

Date_Dimension['Date_ID'] = date_array
Date_Dimension['Year'] = pd.DatetimeIndex(Date_Dimension['Date_ID']).year
Date_Dimension['Month'] = pd.DatetimeIndex(Date_Dimension['Date_ID']).month

Date_Dimension['Month'] = Date_Dimension['Month'].astype(str)
Date_Dimension['Month'] = Date_Dimension['Month'].replace({'1':'Jan','2':'Feb','3':'Mar','4':'Apr',
                                                          '5':'May','6':'Jun','7':'Jul','8':'Aug',
                                                          '9':'Sep','10':'Oct','11':'Nov','12':'Dec',})

In [ ]:
Date_Dimension.tail()

       Date_ID Month  Year
657 2019-11-30   Nov  2019
658 2021-01-02   Jan  2021
659 2021-02-18   Feb  2021
660 2021-02-21   Feb  2021
661 2021-02-25   Feb  2021

In [ ]:
# To SQL Table

sql_1 = "CREATE TABLE Date_Dimension(Date_ID DATE, Month varchar(4), Year int(4));" 
cursor.execute(sql_1)
connection.commit()


# DataFrame to SQL Table - append row by row 

column_list = "`,`".join([str(i) for i in Date_Dimension.columns.tolist()])

for i,row in Date_Dimension.iterrows():
    sql_2 = "INSERT INTO Date_Dimension (`" +column_list + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql_2, tuple(row))
    connection.commit()

### Fact Table

In [ ]:
new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1631 entries, 0 to 301
Data columns (total 29 columns):
Player_ID       1631 non-null object
Coach_ID        1631 non-null object
Date_ID         1631 non-null datetime64[ns]
Age             1631 non-null object
Team_ID         1631 non-null object
Opp             1631 non-null object
Win_Loss        1631 non-null int64
Differential    1631 non-null int64
GP              1631 non-null object
FG              1631 non-null float64
FGA             1631 non-null float64
FG_Percent      1631 non-null float64
3P              1631 non-null float64
3PA             1631 non-null float64
3P_Percent      1631 non-null float64
FT              1631 non-null float64
FTA             1631 non-null float64
FT_Percent      1631 non-null float64
ORB             1631 non-null float64
DRB             1631 non-null float64
TRB             1631 non-null float64
AST             1631 non-null float64
STL             1631 non-null float64
BLK             1631 non-null float64
TOV             1631 non-null float64
PF              1631 non-null float64
PTS             1631 non-null float64
Plus_Minus      1631 non-null float64
Postseason      1631 non-null object
dtypes: datetime64[ns](1), float64(19), int64(2), object(7)
memory usage: 382.3+ KB

In [ ]:
new.shape

(1631, 29)

In [ ]:
new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1631 entries, 0 to 301
Data columns (total 29 columns):
Player_ID       1631 non-null object
Coach_ID        1631 non-null object
Date_ID         1631 non-null datetime64[ns]
Age             1631 non-null object
Team_ID         1631 non-null object
Opp             1631 non-null object
Win_Loss        1631 non-null object
Differential    1631 non-null int64
GP              1631 non-null object
FG              1631 non-null float64
FGA             1631 non-null float64
FG%             1631 non-null float64
3P              1631 non-null float64
3PA             1631 non-null float64
3P%             1631 non-null float64
FT              1631 non-null float64
FTA             1631 non-null float64
FT%             1631 non-null float64
ORB             1631 non-null float64
DRB             1631 non-null float64
TRB             1631 non-null float64
AST             1631 non-null float64
STL             1631 non-null float64
BLK             1631 non-null float64
TOV             1631 non-null float64
PF              1631 non-null float64
PTS             1631 non-null float64
Plus_Minus      1631 non-null float64
Postseason      1631 non-null object
dtypes: datetime64[ns](1), float64(19), int64(1), object(8)
memory usage: 382.3+ KB

In [ ]:
# To SQL Table

#sql_1 = "CREATE TABLE NBA_Fact_Table(Player_ID varchar(250), Team_ID varchar(250), Coach_ID varchar(250), Date_ID DATE, Opp varchar(250), Win_Loss varchar(250), Differential int(3), GP varchar(250), FG float(6,1), FGA float(6,1), FG% float(4,3), 3P float(6,1), 3PA float(6,1), 3P% float(4,3), FT float(6,1), FTA float(6,1), FT% float(4,3), ORB float(3,1), DRB float(3,1), TRB float(3,1), AST, float(3,1), STL float(3,1), BLK float(3,1), TOV float(3,1), PF float(3,1), PTS float(4,1), Plus_Minus float(3,1), Postseason varchar(5), Age int(3));" 
#cursor.execute(sql_1)
#connection.commit()


# DataFrame to SQL Table - append row by row 

#column_list = "`,`".join([str(i) for i in new.columns.tolist()])

#for i,row in new.iterrows():
 #   sql_2 = "INSERT INTO NBA_Fact_Table (`" +column_list + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
 #   cursor.execute(sql_2, tuple(row))
 #   connection.commit()